body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0f172a; /* deep navy blue */
    color: #e2e8f0; /* soft light text */
    height: 100vh;
    margin: 0;
    padding: 20px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fbfafa; /* soft sky blue */
    text-shadow: 0 0 8px rgba(216, 223, 231, 0.7);
}

.container {
    margin-top: 100px;
    background-color: #000000; /* dark slate */
    border: 2px solid #334155;
    border-radius: 20px;
    min-height: 600px;
    width: 600px;
    padding: 50px;
    box-shadow: 0 0 20px rgba(82, 130, 253, 0.6);
}

.result {
    height: 100px;
    text-align: center;
    background-color: #83b4f9; /* slightly lighter gray-blue */
    border: 2px solid #475569;
    border-radius: 20px;
    padding: 15px;
    color: #f8fafc;
}

.fix {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
}

#name, #surname, #day, #Month, #year {
    border: 2px solid #64748b;
    border-radius: 10px;
    margin-top: 10px;
    padding: 8px;
    background-color: #0f172a;
    color: #e2e8f0;
    outline: none;
    transition: 0.3s;
}

#name:focus, #surname:focus, #day:focus, #Month:focus, #year:focus {
    border-color: #60a5fa;
    box-shadow: 0 0 8px #60a5fa;
}

#astro {
    border: 2px solid #010101;
    border-radius: 30px;
    align-items: center;
    padding: 50px;
    background-color: #1e293b;
    box-shadow: 0 0 30px #431bd2;
}

button {
    background-color: #050506; /* bright blue */
    border: 2px solid #eff0f1;
    border-radius: 20px;
    display: flex;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 100px;
    cursor: pointer;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    transition: 0.8s;
}

button:hover {
    background-color: #56575b;
    box-shadow: 0 0 10px #f6993b;
}

#result {
    background-color: #1e293b;
    color: #e2e8f0;
    padding: 10px;
    border-radius: 10px;
    color: #dad8e1; 
    text-shadow: 0 0 20px rgba(147, 197, 253, 0.7);
    box-shadow: 0 0 25px #793bf6;
}

.get {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
}
